@import '~client/app/stylesheets/_card.scss';

.ygo-card-action-text-container{
    height: asCardUnit(42);
    font-family: YGO ITC Stone Serif Small Caps Bold;
    display: flex;
    flex-direction: row-reverse;
    font-size: asCardUnit(28);
    >div{
        display: flex;
        flex-direction: row;

        margin-top: asCardUnit(3.5);
        margin-right: asCardUnit(24.5);
        .action-text-container-left-brace{
            padding-right: asCardUnit(2);
        }
        .action-text-container-right-brace{
            padding-left: asCardUnit(2);
        }

        .action-type-container{
            display: flex;
            flex-direction: row;
            margin: asCardUnit(3) asCardUnit(-1) 0 asCardUnit(9);
            .action-type{
                cursor: pointer;
                width: asCardUnit(30);
                height: asCardUnit(30);
                opacity: .5;
                display: none;

                &.action-type-visible, &.action-type-selected{
                    display: block;
                }

                &.action-type-selected{
                    opacity: 1;
                    &:hover{
                    filter: brightness(1.2);
                    }
                }

                &.action-type-disabled{
                    cursor: not-allowed;
                    opacity: .3;
                    &:hover{
                    filter: brightness(1);
                    }
                }
                
                &:hover{
                    filter: brightness(1.6);
                }
            }             
        }
    } 
}
