@import '~client/app/stylesheets/_card.scss';

.star-editor--container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: asCardUnit(42);

    &.star-editor--rank, &.star-editor--negative{
      flex-direction: row;
    }

    &.star-editor--invisible{
      visibility: hidden;
    }

    .star--selected, .star--unselected{
      width: asCardUnit(38);
      height: asCardUnit(38);
      cursor: pointer;
    }
    
    .star--unselected{
      visibility: hidden;
    }

    &:hover{
      .star--selected{
        opacity: .5;
      }
      .star--unselected{
        opacity: .15;
        visibility: visible;
      }
      .star--hovered{
        opacity: 1;
      }
    }
  }