@mixin flex{
    display: -webkit-flex;
    display: flex;
}

@mixin transform($transforms){
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transform-origin($origin){
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin appearance($value){
    -moz-appearance: $value;
    -webkit-appearance: $value;
}