@font-face{
  font-family: YGO Matrix Regular Small Caps;
  src: url('~client/app/assets/Fonts/YGOMatrixRegularSmallCaps1.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Small Caps Bold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSmallCapsBold.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif LT Italic;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifLTItalic.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Semibold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSemibold.ttf');
}

@font-face{
  font-family: YGO Matrix Book;
  src: url('~client/app/assets/Fonts/YGOMatrixBook.ttf');
}

@font-face{
  font-family: YGO Matrix Bold;
  src: url('~client/app/assets/Fonts/Matrix-Bold.otf');
}

@font-face{
  font-family: YGO Matrix Bold Small Caps;
  src: url('~client/app/assets/Fonts/MatrixBoldSmallCaps.otf');
}

font-face{
  font-family: YGO Matrix Extra Bold;
  src: url('~client/app/assets/Fonts/MatrixExtraBold.otf');
}

@font-face{
  font-family: YGO Matrix Bold Fractions;
  src: url('~client/app/assets/Fonts/MatrixFractions-Bold.otf');
}

@font-face{
  font-family: Script MT Bold;
  src: url('~client/app/assets/Fonts/SCRIPTBL.ttf');
}

@font-face{
  font-family: Eurostile Candy W01 Bold;
  src: url('~client/app/assets/Fonts/Eurostile Candy W01 Bold.ttf');
}