body{
  margin: 0px;
}
.app-content--container{
  display: flex;
  flex-direction: row
}

.navigation-bar--container{
  display: flex;
  flex-direction: row;
  height: 50px;
  .account-management--container{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.canvas--container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  margin-top: 50px;
}