body{
  margin: 0;
}

.app-content--container{
  background-color: #eff2f8;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  box-sizing: border-box;

  .sidebar--container {
    border-right: 1px solid rgba(50,50,50, .25);
  }
}

.canvas--container {
  flex-grow: 1;
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
}