@import '~client/app/stylesheets/_mixins.scss';

.max-size-container{
    width: 200px;
}

.full-size-content, .max-size-container{
    display: none;
    white-space: pre;
}

.full-size-content, .max-size-container, .autoscaling-content{
    font: inherit;
}

.autoscaling-content{
    @include transform-origin(0% 50%);

    .resizable-input-content{
        min-width: 100%;
    }
}

