@import '~client/app/stylesheets/_mixins.scss';

.max-size-container{
    width: 200px;
}

.full-size-content, .max-size-container{
    display: none;
    white-space: pre;
}

.full-size-content, .max-size-container, .autoscaling-content{
    font: inherit;
}

.autoscaling-content{
    display: none;
    @include transform-origin(0% 50%);

    .resizable-input-content{
        min-width: 100%;
    }

    &.autoscaling-content--visible{
        display: block;
    }
}

.display-text--container{
    @include transform-origin(0% 50%);
}

svg{
    width: 100%;
    height: 100%;
    filter {
        color-interpolation-filters: srgb;
    }
    text{
        dominant-baseline: text-before-edge;
    }
}

