@import '~client/app/stylesheets/_card.scss';
@import '~client/app/stylesheets/_typography.scss';

.description--text--input-lore{
  font-family: 'YGO ITC Stone Serif LT Italic';
}

.description-display--text--effect, .material-display--container{
  font-family: 'YGO Matrix Book';
}

.browser-type-firefox{
  .material-display--materials--container{
    width: -moz-fit-content;
  }
}

.material-display--materials--container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  transform-origin: 0 50%;
  .materials--delimiter{
    padding: 0 asCardUnit(4);
  }
  .materials--item {
    white-space: pre;
  }
}

.description-display--text--lore, .description-display--text--effect {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.description-display--text--effect {
  flex: 1 1;
}

.description-display--text--lore{
  flex: 1 0;
  font-family: 'YGO ITC Stone Serif LT Italic';
}