.app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
  border: solid 1px red;
  width: 250px;
  margin-top: 50px;
}

.ygo-card-top{
    font-variant: small-caps;
    width: 100%;
    border: 1px solid brown;
    box-sizing: border-box;
    display: flex;

    .ygo-card-name{
      font-variant: small-caps;
      font-family: serif;
      flex: 1 0;
    }

    .ygo-card-attribute{
      padding: 0 6px;
      flex: 0 0;
      position: relative;
      cursor: pointer;

      .ygo-card-attribute-selection{
        cursor: pointer;
        
        &:hover{
          color: #00bb00;
          background-color: whitesmoke;
        }
      }
    }
}

.ygo-card-level{
  display: flex;
  flex-direction: row-reverse;
  
  .ygo-card-level-selected{
    color: #EC6400;
    cursor: pointer;
  }

  .ygo-card-level-unselected{
    cursor: pointer;
    visibility: hidden;
  }

  &:hover{
    .ygo-card-level-selected{
      color: black;
      text-shadow:
        -1px -1px 0 #ff9900,  
        1px -1px 0 #ff9900,
        -1px 1px 0 #ff9900,
        1px 1px 0 #ff9900;
    }
    .ygo-card-level-unselected{
      color: black;
      visibility: visible;
    }
    .ygo-card-level-hovered{
      color: #EC6400;
    }
    
  }
}



.ygo-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ygo-card-center{
  width: 95%;

  .ygo-card-image{
    cursor: pointer;
    #ygo-card-image-file-loader{
      display: none;
    }
    img{
      width: 100%;
    }
  }
}

.ygo-card-bottom{
  width: 100%;
  border: 1px solid brown;

  .ygo-card-type{
    display: flex;
    flex-direction: row;
    font-size: 14px;

    &:hover{
      .ygo-card-type-input{
        display: block;
      }
    }
    
    .ygo-card-type-tribe{
      display: flex;
      flex-direction: row;

      .ygo-card-type-tribe-content{
        flex: 0 1;
        width:100%;
        white-space: nowrap;
      }
    }

    .ygo-card-type-input, .ygo-card-type-input-spacer{
      display: none;
    }
    .ygo-card-type-input{
      display: none;
      width: 100%;
      min-width: 60px;
      flex: 1 0;
      box-sizing: border-box;
      font-variant: small-caps;
      font-family: serif;
      font-weight: bold;

      &:focus{
        display: block;
      }

    }
    font-variant: small-caps;
    font-family: serif;
    font-weight: bold;
  }

  .ygo-card-effect, .ygo-card-description{
    width: 100%;
    box-sizing: border-box;
  }

  .ygo-card-description{
    font-style: italic;
    height: 50px;
    font-size: 10px;
    font-family: serif;
    resize:none;
  }

  .ygo-card-battle-points{
    font-family: serif;
    font-weight: bold;
    margin-left: auto;
    width: 75%;

    input{
      width: 45px;
    }
  }
}


