@font-face{
  font-family: YGO Matrix Regular Small Caps;
  src: url('../assets/Fonts/YGOMatrixRegularSmallCaps1.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Small Caps Bold;
  src: url('../assets/Fonts/YGOITCStoneSerifSmallCapsBold.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif LT Italic;
  src: url('../assets/Fonts/YGOITCStoneSerifLTItalic.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Semibold;
  src: url('../assets/Fonts/YGOITCStoneSerifSemibold.ttf')
}

@font-face{
  font-family: YGO Matrix Book;
  src: url('../assets/Fonts/YGOMatrixBook.ttf')
}


.app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  margin-top: 50px;

  --card-diagonal: 1042.93px;
  --aspect-ratio: 1.46;
  --card-width: 590px;
  --card-height: calc(86/59 * var(--card-width));

  input, textarea{
    background: transparent;
    border: none;
  }

}

.ygo-card-content{
  // border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/NormalMonster.png");
  background-size: cover;
  width: var(--card-width);
  height: var(--card-height);
}

.ygo-card-top, .ygo-card-bottom{
  width: calc(50.9/59 * var(--card-width));
  box-sizing: border-box;
}

.ygo-card-top{
  margin-top: calc(3.3/86 * var(--card-height));
  height: calc(7.5/86 * var(--card-height));
  // border: 1px solid brown;
  display: flex;

  .ygo-card-name{
    background: transparent;
    border:none;
    padding-left: 6px;
    font-size: 67px;
    font-family: YGO Matrix Regular Small Caps;
    flex: 1 0;
    width: 100%;
  }

  .ygo-card-attribute{
    padding: 6px;
    flex: 0 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .ygo-card-attribute-selection{
      width: calc(6.0/59 * var(--card-width));
      height: auto;
    }

    .ygo-card-attribute-suggestion{
      cursor: pointer;
      width: calc(5.5/59 * var(--card-width));
      height: auto;
      position: absolute;
      opacity: .5;

      &:hover{
        opacity: 1;
      }
    }
  }
}

.ygo-card-center{
  width: calc(46/59 * var(--card-width));
  height: calc(53/86 * var(--card-height));;

  .ygo-card-level{
    margin-bottom: 2px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: calc(4.2/86 * var(--card-height));

    .ygo-card-level-selected, .ygo-card-level-unselected{
      width: calc(3.8/59 * var(--card-width));
      height: calc(3.8/59 * var(--card-width));
      cursor: pointer;
    }
    
    .ygo-card-level-unselected{
      visibility: hidden;
    }

    &:hover{
      .ygo-card-level-selected{
        opacity: .55;
      }
      .ygo-card-level-unselected{
        opacity: .2;
        visibility: visible;
      }
      .ygo-card-level-hovered{
        opacity: 1;
      }
      
    }
  }

  .ygo-card-image{
    line-height: 0;
    padding: 7.8px;
    cursor: pointer;
    #ygo-card-image-file-loader{
      display: none;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}

.ygo-card-bottom{
  height: calc(18/86 * var(--card-height));
  // border: 1px solid brown;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: calc(1/59 * var(--card-width));
  padding-top:0;

  .ygo-card-type{
    line-height:1.5;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family: YGO ITC Stone Serif Small Caps Bold;

    &:hover{
      .ygo-card-type-input{
        display: block;
      }
    }
    
    .ygo-card-type-tribe{
      display: flex;
      flex-direction: row;

      .ygo-card-type-tribe-content{
        flex: 0 1;
        width:100%;
        white-space: nowrap;
      }
    }

    .ygo-card-type-input, .ygo-card-type-input-spacer{
      display: none;
    }
    .ygo-card-type-input{
      display: none;
      padding: 0px;
      margin: 0px;
      width: 100%;
      min-width: 60px;
      flex: 1 0;
      box-sizing: border-box;
      font: inherit;

      &:focus{
        display: block;
      }

    }
  }

  .ygo-card-effect, .ygo-card-lore{
    width: 100%;
    box-sizing: border-box;
  }

  .ygo-card-bottom-text{
    flex: 1 0;
    // border-bottom: 1px solid;
    display: flex;
    flex-direction: column;

    .ygo-card-lore, .ygo-card-effect{
      font-size: 10px;
      resize:none;
      flex: 1 0;
    }

    .ygo-card-lore{
      font-family: YGO ITC Stone Serif LT Italic;
    }

    .ygo-card-effect{
      font-family: YGO Matrix Book;
    }
  }

  .ygo-card-battle-points{
    width: calc(22.5/59 * var(--card-width));
    font-family: YGO ITC Stone Serif Semibold;
    align-self: flex-end;
    display: flex;
    font-size: 22px;
    flex: 0 0 30px;

    div{
      flex: 0 1 50%;

      input{
        width: 53px;
        font-family: inherit;
        font-size: inherit;
        text-align: right;
        padding: 0px;
      }
    }
  }
}


