.set-gallery--container {
  padding: 10px;

  .sets--container{
    display: flex;
    flex-direction: column;

    .set-gallery--image {
      width: 180px;
      border: 1px solid rgba(50,50,50,.25);
      box-sizing: border-box;
    }
    
    .set--container{
      cursor: pointer;
      height: 151.5px;
      width: 180px;
      box-sizing: border-box;
      &.set--selected {
        border: 2px solid lightseagreen;
      }
    }
    
  }
}
