@import '~client/app/stylesheets/_mixins.scss';

@font-face{
  font-family: YGO Matrix Regular Small Caps;
  src: url('~client/app/assets/Fonts/YGOMatrixRegularSmallCaps1.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Small Caps Bold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSmallCapsBold.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif LT Italic;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifLTItalic.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Semibold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSemibold.ttf');
}

@font-face{
  font-family: YGO Matrix Book;
  src: url('~client/app/assets/Fonts/YGOMatrixBook.ttf');
}

@font-face{
  font-family: YGO Matrix Bold;
  src: url('~client/app/assets/Fonts/Matrix-Bold.otf');
}

@font-face{
  font-family: YGO Matrix Bold Small Caps;
  src: url('~client/app/assets/Fonts/MatrixBoldSmallCaps.otf');
}

font-face{
  font-family: YGO Matrix Extra Bold;
  src: url('~client/app/assets/Fonts/MatrixExtraBold.otf');
}

@font-face{
  font-family: YGO Matrix Bold Fractions;
  src: url('~client/app/assets/Fonts/MatrixFractions-Bold.otf');
}

@font-face{
  font-family: Script MT Bold;
  src: url('~client/app/assets/Fonts/SCRIPTBL.ttf');
}

.ygo-card-content{
  --card-diagonal: 1042.93px;
  --aspect-ratio: 1.46;
  --card-width: 590px;
  --card-height: calc(86/59 * var(--card-width));
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: var(--card-width);
  height: var(--card-height);

  input, textarea, select{
    background: transparent;
    border: none;
  }

  &.normal-monster{
    background-image: url("~client/app/assets/Series 10/NormalMonster.png");
  }

  &.effect-monster{
    background-image: url("~client/app/assets/Series 10/EffectMonster.png");
  }

  &.fusion-monster{
    background-image: url("~client/app/assets/Series 10/FusionMonster.png");
  }

  &.ritual-monster{
    background-image: url("~client/app/assets/Series 10/RitualMonster.png");
  }

  &.synchro-monster{
    background-image: url("~client/app/assets/Series 10/SynchroMonster2.png");
  }

  &.xyz-monster{
    background-image: url("~client/app/assets/Series 10/XyzMonster.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.spell-card{
    background-image: url("~client/app/assets/Series 10/SpellCard.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.trap-card{
    background-image: url("~client/app/assets/Series 10/TrapCard.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }
}

.ygo-card-pendulum, .ygo-card-pendulum img{
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.ygo-card-top, .ygo-card-bottom{
  width: calc(53/59 * var(--card-width));
  box-sizing: border-box;
}

.ygo-card-top{
  margin-top: calc(2.9/86 * var(--card-height));
  height: calc(7.3/86 * var(--card-height));
  display: flex;

  .ygo-card-name{
    font-size: 67px;
    font-family: YGO Matrix Regular Small Caps;
    padding-left: 12px;
    // flex: 1 0;
    width: calc(44.75/59 * var(--card-width));
  }

}

.ygo-card-center{
  width: calc(51.7/59 * var(--card-width));
  height: calc(53.5/86 * var(--card-height));
  position: relative;

  .ygo-card-level{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: calc(4.2/86 * var(--card-height));

    &.ygo-card-stars-rank{
      flex-direction: row;
    }

    .ygo-card-level-selected, .ygo-card-level-unselected{
      width: calc(3.8/59 * var(--card-width));
      height: calc(3.8/59 * var(--card-width));
      cursor: pointer;
    }
    
    .ygo-card-level-unselected{
      visibility: hidden;
    }

    &:hover{
      .ygo-card-level-selected{
        opacity: .5;
      }
      .ygo-card-level-unselected{
        opacity: .15;
        visibility: visible;
      }
      .ygo-card-level-hovered{
        opacity: 1;
      }
    }
  }
  
  .ygo-card-image{
    line-height: 0;
    padding: 13px 34px 0px 34px;
    cursor: pointer;
    height: calc(44.85/59 * var(--card-width));
    &.ygo-card-image-pendulum{
      padding: 4px 0px 0px 0px;
      box-sizing: border-box;
      height: calc(49.8/59 * var(--card-width));
    }
    #ygo-card-image-file-loader{
      display: none;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }

  .ygo-card-set-id{
    height: calc(3.8/59 * var(--card-width));
  }

  .ygo-card-pendulum-container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
    z-index: 20;
    .ygo-card-pendulum-scale{
      flex-shrink: 0;
      width: 9%;
      padding: 35px 7px 0px 7px;
      text-align: center;
      box-sizing: border-box;
      >input{
        font-size: 32px;
        text-align: center;
        font-family: YGO Matrix Bold Fractions;
        width: 100%;
      }
    }
    .ygo-card-pendulum-effect{
      font-family: YGO Matrix Book;
      font-size: 15px;
      line-height: 18px;
      box-sizing: border-box;
      padding: 5px 4px 0px 5px;
      width: 82%;
    }
  }
}

//Set browser specific values.
.browser-type-firefox{
  .ygo-card-type{
    width: -moz-fit-content;
  }
}

.ygo-card-bottom{
  height: calc(18/86 * var(--card-height));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: calc(1/59 * var(--card-width));
  z-index: 30;

  .ygo-card-type{
    margin-top: calc(-1/59 * var(--card-width)); //Need to push card type up to offset the way this font pushes the text down.
    width: fit-content;
    transform-origin: 0% 50%;
    line-height:1.5;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    font-family: YGO ITC Stone Serif Small Caps Bold;

    &:hover{
      .ygo-card-type-input, .ygo-card-monster-type-selector{
        display: block;
      }
      .ygo-card-monster-type-selected{
        display: none;
      }
    }
    
    .ygo-card-type-tribe{
      display: flex;
      flex-direction: row;

      .ygo-card-type-tribe-content{
        flex: 0 1;
        width:100%;
        white-space: nowrap;
      }
    }

    .ygo-card-type-input, .ygo-card-type-input-spacer{
      display: none;
    }
    .ygo-card-type-input{
      padding: 0px;
      margin: 0px;
      width: 200px;
      flex: 1 0;
      box-sizing: border-box;
    }

    .ygo-card-monster-type-selector, .ygo-card-type-input{
      display: none;
      font: inherit;
      // @include appearance(none);
      cursor: pointer;

      &:focus, &.ygo-card-monster-type-selector-visible{
        display: block;
      }
    }
    
    .ygo-card-monster-type{
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
  }

  .description--text--input-effect, .description--text--input-lore{
    width: 100%;
    box-sizing: border-box;
  }

  .ygo-card-battle-points{
    font-family: YGO Matrix Bold Small Caps;
    width: calc(22/59 * var(--card-width));
    align-self: flex-end;
    display: flex;
    font-size: 25px;
    flex: 0 0 27px;
    padding-top: 1px;
    box-sizing: border-box;

    .battle-point-slash{
      padding-left: 5px;
    }

    .ygo-card-battle-point-spacer{
      padding: 0px 5px;
    }

    div{
      input{
        width: 50px;
        font-family: inherit;
        font-size: inherit;
        text-align: right;
        padding: 0px;
      }
    }
  }
}


