@import '~client/app/stylesheets/_mixins.scss';

@font-face{
  font-family: YGO Matrix Regular Small Caps;
  src: url('~client/app/assets/Fonts/YGOMatrixRegularSmallCaps1.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Small Caps Bold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSmallCapsBold.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif LT Italic;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifLTItalic.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Semibold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSemibold.ttf')
}

@font-face{
  font-family: YGO Matrix Book;
  src: url('~client/app/assets/Fonts/YGOMatrixBook.ttf')
}


.ygo-card-content{
  --card-diagonal: 1042.93px;
  --aspect-ratio: 1.46;
  --card-width: 590px;
  --card-height: calc(86/59 * var(--card-width));

  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: var(--card-width);
  height: var(--card-height);

  input, textarea, select{
    background: transparent;
    border: none;
  }

  &.normal-monster{
    background-image: url("~client/app/assets/NormalMonster3.png");
  }

  &.effect-monster{
    background-image: url("~client/app/assets/EffectMonster2.png");
  }

  &.fusion-monster{
    background-image: url("~client/app/assets/FusionMonster2.png");
  }

  &.ritual-monster{
    background-image: url("~client/app/assets/RitualMonster2.png");
  }

  &.synchro-monster{
    background-image: url("~client/app/assets/SynchroMonster2.png");
  }

  &.xyz-monster{
    background-image: url("~client/app/assets/XyzMonster2.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.spell-card{
    background-image: url("~client/app/assets/NormalSpell.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.trap-card{
    background-image: url("~client/app/assets/NormalTrap.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

}

.ygo-card-top, .ygo-card-bottom{
  width: calc(52.2/59 * var(--card-width));
  box-sizing: border-box;
}

.ygo-card-top{
  margin-top: calc(3.1/86 * var(--card-height));
  height: calc(7.3/86 * var(--card-height));
  display: flex;

  .ygo-card-name{
    font-size: 67px;
    font-family: YGO Matrix Regular Small Caps;
    padding-left: 8px;
    // flex: 1 0;
    width: calc(44.25/59 * var(--card-width));
  }

}

.ygo-card-center{
  width: calc(47/59 * var(--card-width));
  height: calc(53.5/86 * var(--card-height));;

  .ygo-card-level{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: calc(4.2/86 * var(--card-height));

    &.ygo-card-stars-rank{
      flex-direction: row;
    }

    .ygo-card-level-selected, .ygo-card-level-unselected{
      width: calc(3.8/59 * var(--card-width));
      height: calc(3.8/59 * var(--card-width));
      cursor: pointer;
    }
    
    .ygo-card-level-unselected{
      visibility: hidden;
    }

    &:hover{
      .ygo-card-level-selected{
        opacity: .5;
      }
      .ygo-card-level-unselected{
        opacity: .15;
        visibility: visible;
      }
      .ygo-card-level-hovered{
        opacity: 1;
      }
    }
  }
  
  .ygo-card-image{
    line-height: 0;
    padding: 12px 11.4px;
    cursor: pointer;
    height: calc(44.8/59 * var(--card-width));
    #ygo-card-image-file-loader{
      display: none;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }

  .ygo-card-set-id{
    height: calc(3.8/59 * var(--card-width));
  }
}

//Set browser specific values.
.browser-type-firefox{
  .ygo-card-type{
    width: -moz-fit-content;
  }
}

.ygo-card-bottom{
  height: calc(18/86 * var(--card-height));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: calc(1/59 * var(--card-width));

  .ygo-card-type{
    margin-top: calc(-1/59 * var(--card-width)); //Need to push card type up to offset the way this font pushes the text down.
    width: fit-content;
    transform-origin: 0% 50%;
    line-height:1.5;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    font-family: YGO ITC Stone Serif Small Caps Bold;

    &:hover{
      .ygo-card-type-input, .ygo-card-monster-type-selector{
        display: block;
      }
      .ygo-card-monster-type-selected{
        display: none;
      }
    }
    
    .ygo-card-type-tribe{
      display: flex;
      flex-direction: row;

      .ygo-card-type-tribe-content{
        flex: 0 1;
        width:100%;
        white-space: nowrap;
      }
    }

    .ygo-card-type-input, .ygo-card-type-input-spacer{
      display: none;
    }
    .ygo-card-type-input{
      padding: 0px;
      margin: 0px;
      width: 200px;
      flex: 1 0;
      box-sizing: border-box;
    }

    .ygo-card-monster-type-selector, .ygo-card-type-input{
      display: none;
      font: inherit;
      // @include appearance(none);
      cursor: pointer;

      &:focus, &.ygo-card-monster-type-selector-visible{
        display: block;
      }

    }
    
    .ygo-card-monster-type{
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
  }

  .ygo-card-effect, .ygo-card-lore{
    width: 100%;
    box-sizing: border-box;
  }

  .ygo-card-bottom-text{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 18px;
    padding: 0px 2.5px;

    .ygo-card-lore, .ygo-card-effect-container{
      resize:none;
      flex: 1 0;
      height: 50%;
    }

    .ygo-card-lore{
      font-family: YGO ITC Stone Serif LT Italic;
    }

    .ygo-card-effect-container{
      display: flex;
      flex-direction: column;
      &.ygo-card-effect-container-invisible{
        display: none;
      }
    }

    .ygo-card-effect, .ygo-card-fusion-materials, .ygo-card-synchro-materials, .ygo-card-xyz-materials{
      font-family: YGO Matrix Book;
    }

    .ygo-card-effect{
      min-height: 0px; //This is to help the flex-shrink to work when monster materials are visible
      flex: 1 1;

      &.ygo-card-effect-invisible{
        display: none;
      }
    }

    .ygo-card-fusion-materials, .ygo-card-synchro-materials{
      flex-shrink: 0;
      width: fit-content;
      transform-origin: 0% 50%;
      .catalog-delimiter{
        padding: 0px 4px;
      }
    }

    &.ygo-card-full-description{
      .ygo-card-effect, .ygo-card-lore{
         line-height: 15px;
      }
    }
  }

  .ygo-card-battle-points{
    width: calc(24/59 * var(--card-width));
    font-family: YGO ITC Stone Serif Semibold;
    align-self: flex-end;
    display: flex;
    font-size: 21px;
    flex: 0 0 30px;

    .battle-point-slash{
      padding-left: 5px;
    }

    .ygo-card-battle-point-spacer{
      padding: 0px 8px;
    }

    div{
      input{
        width: 53px;
        font-family: inherit;
        font-size: inherit;
        text-align: right;
        padding: 0px;
      }
    }
  }
}


