@import '~client/app/stylesheets/_mixins.scss';
@import '~client/app/stylesheets/_card.scss';

@font-face{
  font-family: YGO Matrix Regular Small Caps;
  src: url('~client/app/assets/Fonts/YGOMatrixRegularSmallCaps1.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Small Caps Bold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSmallCapsBold.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif LT Italic;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifLTItalic.ttf');
}

@font-face{
  font-family: YGO ITC Stone Serif Semibold;
  src: url('~client/app/assets/Fonts/YGOITCStoneSerifSemibold.ttf');
}

@font-face{
  font-family: YGO Matrix Book;
  src: url('~client/app/assets/Fonts/YGOMatrixBook.ttf');
}

@font-face{
  font-family: YGO Matrix Bold;
  src: url('~client/app/assets/Fonts/Matrix-Bold.otf');
}

@font-face{
  font-family: YGO Matrix Bold Small Caps;
  src: url('~client/app/assets/Fonts/MatrixBoldSmallCaps.otf');
}

font-face{
  font-family: YGO Matrix Extra Bold;
  src: url('~client/app/assets/Fonts/MatrixExtraBold.otf');
}

@font-face{
  font-family: YGO Matrix Bold Fractions;
  src: url('~client/app/assets/Fonts/MatrixFractions-Bold.otf');
}

@font-face{
  font-family: Script MT Bold;
  src: url('~client/app/assets/Fonts/SCRIPTBL.ttf');
}

@font-face{
  font-family: Eurostile Candy W01 Bold;
  src: url('~client/app/assets/Fonts/Eurostile Candy W01 Bold.ttf');
}

.ygo-card-content{
  --card-diagonal: 1042.93px;
  --aspect-ratio: 1.46;
  --card-width: 590px;
  --card-height: calc(86/59 * var(--card-width));
  line-height: asCardUnit(32);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: var(--card-width);
  height: var(--card-height);

  input, textarea, select{
    background: transparent;
    border: none;
  }

  &.normal-monster{
    background-image: url("~client/app/assets/Series 10/NormalMonster2.png");
  }

  &.effect-monster{
    background-image: url("~client/app/assets/Series 10/EffectMonster2.png");
  }

  &.fusion-monster{
    background-image: url("~client/app/assets/Series 10/FusionMonster2.png");
  }

  &.ritual-monster{
    background-image: url("~client/app/assets/Series 10/RitualMonster2.png");
  }

  &.synchro-monster{
    background-image: url("~client/app/assets/Series 10/SynchroMonster2.png");
  }

  &.dark-synchro-monster{
    background-image: url("~client/app/assets/Series 10/DarkSynchroMonster.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.xyz-monster{
    background-image: url("~client/app/assets/Series 10/XyzMonster2.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.link-monster{
    background-image: url("~client/app/assets/Series 10/LinkMonster.png");.ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.spell-card{
    background-image: url("~client/app/assets/Series 10/SpellCard2.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }

  &.trap-card{
    background-image: url("~client/app/assets/Series 10/TrapCard2.png");
    .ygo-card-name{
      input{
        color: white;
      }  
    }
  }
}

.ygo-card-pendulum, .ygo-card-pendulum img, .card--normal-art--container, .card--normal-art-box, .card--link-art--container{
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.ygo-card-pendulum, .ygo-card-pendulum img, .card--link-art-box{
  z-index: 10;
}

.card--link-arrow--container{
  position: absolute;
  top: asCardUnit(120);
  left: 0;
  right: 0;
  margin: auto;
  width: asCardUnit(523);
  height: asCardUnit(523);
  div{
    pointer-events: initial;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    &:hover{
      filter: brightness(1.2);
    }
  }
  .card--link-arrow-corner{
    width: asCardUnit(68);
    height: asCardUnit(68);
    margin: asCardUnit(5.5);
    background-image: url("~client/app/assets/Series 10/Link/CornerLinkArrow2.png");
    background-size: cover;
    &:hover{
      background-image: url("~client/app/assets/Series 10/Link/CornerLinkArrowHovered.png");
    }
    &.card--link-arrow-corner--selected{
        background-image: url("~client/app/assets/Series 10/Link/CornerLinkArrowSelected.png");
      }
  }
  .card--link-arrow-middle{
    background-size: cover;
    margin: auto;
    &.card--link-arrow-middle--vertical{
      background-image: url("~client/app/assets/Series 10/Link/MiddleLinkArrowVertical.png");
      width: asCardUnit(40.2);
      height: asCardUnit(130);
      bottom: 0;
      top: 0;
      &:hover{
        background-image: url("~client/app/assets/Series 10/Link/MiddleLinkArrowHoveredVertical.png");
      }
      &.card--link-arrow-middle--selected{
        background-image: url("~client/app/assets/Series 10/Link/MiddleLinkArrowSelectedVertical.png");
      }
    }
    &.card--link-arrow-middle--horizontal{
      background-image: url("~client/app/assets/Series 10/Link/MiddleLinkArrow2.png");
      height: asCardUnit(40.2);
      width: asCardUnit(130);
      left: 0;
      right: 0;
      &:hover{
        background-image: url("~client/app/assets/Series 10/Link/MiddleLinkArrowHovered.png");
      }
      &.card--link-arrow-middle--selected{
        background-image: url("~client/app/assets/Series 10/Link/MiddleLinkArrowSelected2.png");
      }
    }
  }
}

.ygo-card-top, .ygo-card-bottom{
  width: asCardUnit(530);
  box-sizing: border-box;
}

.ygo-card-top{
  margin-top: asCardUnit(29);
  height: asCardUnit(73);
  display: flex;

  .ygo-card-name{
    font-size: asCardUnit(67);
    font-family: YGO Matrix Regular Small Caps;
    padding-left: asCardUnit(12);
    width: asCardUnit(447.5);
  }

}

.ygo-card-center{
  // width: calc(51.7/59 * var(--card-width));
  // height: calc(53.5/86 * var(--card-height));
  width: asCardUnit(517);
  height: asCardUnit(535);
  position: relative;
  
  .ygo-card-image{
    line-height: 0;
    padding: asCardUnit(13) asCardUnit(34) 0 asCardUnit(34);
    height: asCardUnit(448.5);
    &.ygo-card-image-pendulum{
      padding: asCardUnit(4) 0 0 0;
      box-sizing: border-box;
      height: asCardUnit(498)
    }
    #ygo-card-image-file-loader{
      display: none;
    }
    img{
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover{
        filter: brightness(1.2);
      }
    }
  }

  .ygo-card-set-id{
    height: asCardUnit(38);
  }

  .ygo-card-pendulum-container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
    z-index: 20;
    .ygo-card-pendulum-scale{
      flex-shrink: 0;
      width: 9%;
      padding: asCardUnit(35) asCardUnit(7) 0px asCardUnit(7);
      text-align: center;
      box-sizing: border-box;
      >input{
        font-size: asCardUnit(32);
        text-align: center;
        font-family: YGO Matrix Bold Fractions;
        width: 100%;
      }
    }
    .ygo-card-pendulum-effect{
      font-family: YGO Matrix Book;
      font-size: asCardUnit(15);
      line-height: asCardUnit(18);
      box-sizing: border-box;
      padding: asCardUnit(5) asCardUnit(4) 0px asCardUnit(5);
      width: 82%;
    }
  }
}

//Set browser specific values.
.browser-type-firefox{
  .ygo-card-type{
    width: -moz-fit-content;
  }
}

.ygo-card-bottom{
  height: calc(18/86 * var(--card-height));
  height: asCardUnit(180);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: asCardUnit(10);
  z-index: 30;

  .type--container{
    margin-top: asCardUnit(2);
    margin-bottom: asCardUnit(-4);
  }

  .ygo-card-type{
    width: fit-content;
    transform-origin: 0% 50%;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    font-size: asCardUnit(21);
    font-family: YGO ITC Stone Serif Small Caps Bold;
    margin-top: asCardUnit(-10); //Need to push card type up to offset the way this font pushes the text down.
    height: asCardUnit(31.8);

    .catalog-input{
      width: asCardUnit(160);
    }

    &:hover{
      .ygo-card-type-input, .ygo-card-monster-type-selector{
        display: block;
      }
      .ygo-card-monster-type-selected{
        display: none;
      }
    }

    .type--brace{
      margin-top: asCardUnit(-1.5);
    }
    
    .ygo-card-type-tribe{
      display: flex;
      flex-direction: row;

      .ygo-card-type-tribe-content{
        flex: 0 1;
        width:100%;
        white-space: nowrap;
      }
    }

    .ygo-card-type-input, .ygo-card-type-input-spacer{
      display: none;
    }
    .ygo-card-type-input{
      padding: 0px;
      margin: 0px;
      width: asCardUnit(200);
      flex: 1 0;
      box-sizing: border-box;
    }

    .ygo-card-monster-type-selector, .ygo-card-type-input{
      display: none;
      font: inherit;
      // @include appearance(none);
      cursor: pointer;

      &:focus, &.ygo-card-monster-type-selector-visible{
        display: block;
      }
    }
    
    .ygo-card-monster-type{
      display: flex;
      flex-direction: row;
      cursor: pointer;

      &.type--hybrid-select--link-selected{
        select{
          color: #777;
          text-decoration: line-through;
        }
      }
    }
    .ygo-card-monster-type-selected{
        white-space: nowrap;
    }
  }

  .description--text--input-effect, .description--text--input-lore{
    width: 100%;
    box-sizing: border-box;
  }

  .ygo-card-battle-points{
    font-family: YGO Matrix Bold Small Caps;
    width: asCardUnit(220);
    align-self: flex-end;
    display: flex;
    font-size: asCardUnit(25);
    height: asCardUnit(27);
    padding-top: asCardUnit(1);
    box-sizing: border-box;

    .battle-point-slash{
      padding-left: asCardUnit(5);
    }

    .ygo-card-battle-point-spacer{
      padding: 0px asCardUnit(5);
    }

    .card--battle-points--link-rating{
      cursor: default;
      margin-top: -1px;
      display: flex;
      font-family: Eurostile Candy W01 Bold;
      font-size: asCardUnit(22);
      .card--battle-points--link-rating-value{
        width: asCardUnit(25);
        text-align: end;
      }
    }

    div{
      input{
        width: asCardUnit(50);
        font-family: inherit;
        font-size: inherit;
        text-align: right;
        padding: 0px;
      }
    }
  }
}

.card--settings--container{
  display: flex;
  flex-direction: row;
  .card-downloader--button{
    margin-left: auto;
    cursor: pointer;
  }
}

