.navigation-bar--container{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  z-index: 10;
  background-color: #915ae8;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  .account-management--container{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}