.ygo-card-attribute{
    padding: 6px;
    flex: 0 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .ygo-card-attribute-selection{
        width: calc(6.0/59 * var(--card-width));
        height: auto;
    }
    
    .ygo-card-attribute-suggestion-anchor{
        z-index: 10;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: calc(6.0/59 * var(--card-width));
        width: calc(6.0/59 * var(--card-width));

        &:hover{
            z-index: 11;
            .ygo-card-attribute-suggestion{
                opacity: 1;
                width: calc(5.0/59 * var(--card-width));
            }
        }
        .ygo-card-attribute-suggestion{
            width: calc(3.0/59 * var(--card-width));
            height: auto;
            opacity: .9;   
            transition: width .2s;
        }

    }
    
}