.catalog-content{
    display: flex;
    flex-direction: row;

    &:hover{
        .catalog-input-container{
            display: flex;
            flex-direction: row;
        }
    }

    .catalog-input-container{
        display: none;

        &.catalog-input-container-visible{
            display: flex;
            flex-direction: row;
        }
    }

    .catalog-input{
        font: inherit;
        padding: 0px;
        margin: 0px;
        width: 200px;
        flex: 1 0;
        box-sizing: border-box;
    }

    .catalog-item{
        display: flex;
        flex-direction: row;
    }
}
